MONGODB_URI="mongodb://localhost/nest"

SWAGGER_ENABLE=1

API_PREFIX="/"

TELEGRAM_BOT_TOKEN=token
TELEGRAM_CHAT_IDS=1412341234

SCHEDULER_QUEUE_NAME=Vottery
SCHEDULER_DASHBOARD_PATH=/scheduler/dashboard
REDIS_URI="redis://username:password@localhost:6379"

